@use 'vars';

.button {
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: inherit;
  border-radius: 4px;
  box-shadow: none;
  font-size: 1rem;
  height: 2.5em;
  position: relative;
  background-color: vars.$color-alt;
  border-color: vars.$color-alt;
  color: vars.$color;
  cursor: pointer;
  padding: calc(.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  line-height: 1.5;
  vertical-align: top;
}

.button:hover,
.button:focus {
  border-color: vars.$color;
}

.button:active {
  background-color: vars.$color;
  border-color: vars.$color;
  color: vars.$color-alt;
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons .button:not(:last-child) {
  margin-right: .5rem;
}

.buttons.group .button:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.buttons.group .button:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: -1px;
}

.buttons.group .button:last-child {
  margin-right: 0;
}

.buttons.group .button:hover {
  z-index: 2;
}

.buttons.group .button:focus, 
.buttons.group .button:active {
  z-index: 3;
}

.buttons.group .button:focus:hover, 
.buttons.group .button:active:hover {
  z-index: 4;
}
